<div class=" text-center" ng-init="getOficina()">
	<h1>Nuevo/a Oficina</h1>
    {{formData.$valid}}
    <div ng-if="messageShow" ng-class="messageClass" class="alert" role="alert">
        {{messageText}}
    </div>
</div>

<script type="text/ng-template" id="error-messages">
    <p ng-message="required">Este campo es obligatorio</p>
    <p ng-message="number">Este campo debe ser numérico</p>
    <p ng-message="min">Ingrese un número mayor</p>
    <p ng-message="max">Ingrese un número menor</p>
    
    <p ng-message="minlength">This field is too short</p>
    <p ng-message="maxlength">Your name is too long.</p>

    <p ng-message="email">Ingrese un Correo Electrónico válido</p>
</script>

<form name="form" ng-submit="createOrUpdateOficina(form.$valid,_id)" novalidate>

<div class="panel panel-default">
    <div class="panel-heading">Datos</div>
    <div class="panel-body">
    
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.nombre.$touched && form.nombre.$invalid }">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre" ng-model="formData.nombre" required>
                <div class="help-block" ng-messages="form.nombre.$error" ng-if="form.nombre.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.direccion.$touched && form.direccion.$invalid }">
                <label for="direccion">Dirección</label>
                <input type="text" name="direccion" class="form-control" placeholder="Dirección" ng-model="formData.direccion" required>
                <div class="help-block" ng-messages="form.direccion.$error" ng-if="form.direccion.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.telefono.$touched && form.telefono.$invalid }">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" class="form-control" placeholder="Telefono" ng-model="formData.telefono" required>
                <div class="help-block" ng-messages="form.telefono.$error" ng-if="form.telefono.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <label for="estado">Estado</label>
                <div class="form-group">
                    <div class="radio-inline">
                        <label><input type="radio" name="estado" value="Activo" ng-model="formData.estado">Activo</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="estado" value="Inactivo" ng-model="formData.estado">Inactivo</label>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



<!--div class="row">
    <div class="col-xs-12 col-md-3">
        <label for="estado">estado</label>
        <input name="estado" class="form-control" placeholder="estado" ng-model="formData.estado">
    </div>
</div-->


<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left" >
        <br>
        <a class="button btn btn-danger" href="/{{controllerInstance}}">Cancelar</a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right" >
        <br>
        <!--button name="submit" class="btn btn-primary btn-sm" ng-click="createOficina(formData.$valid)" ng-disabled="formData.$invalid">Guardar/Crear</button-->
        <button name="submit" class="btn btn-primary"  >Guardar</button>
    </div>
    
</div>

<br/>
        
</form>