<br>
<div class="row" ng-init="me()">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Mis Datos</strong>
            </div>
            <div class="panel-body">
                <p>{{myDetails.data.usuario}}</p>
                <p>{{myDetails.data.nombre_completo}}</p>
                <p>{{myDetails.data.email}}</p>
                <p>{{myDetails.data.password}}</p>
            </div>
        </div>
    </div>
</div>