<div class=" text-center" ng-init="getPrivilegio()">
    <h1>Nuevo Privilegio</h1>
    {{formData.$valid}}
    <div ng-if="messageShow" ng-class="messageClass" class="alert" role="alert">
        {{messageText}}
    </div>
</div>

<script type="text/ng-template" id="error-messages">
    <p ng-message="required">Este campo es obligatorio</p>
    <p ng-message="number">Este campo debe ser numérico</p>
    <p ng-message="min">Ingrese un número mayor</p>
    <p ng-message="max">Ingrese un número menor</p>
    
    <p ng-message="minlength">This field is too short</p>
    <p ng-message="maxlength">Your name is too long.</p>

    <p ng-message="email">Ingrese un Correo Electrónico válido</p>
</script>

<form name="form" ng-submit="createOrUpdatePrivilegio(form.$valid,_id)" novalidate>

<div class="panel panel-default">
    <div class="panel-heading">Datos</div>
    <div class="panel-body">
    
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.descripcion.$touched && form.descripcion.$invalid }">
                <label for="descripcion">Descipcion Privilegio</label>
                <input type="text" name="descripcion" class="form-control" placeholder="Descripcion" ng-model="formData.descripcion" required>
                <div class="help-block" ng-messages="form.descripcion.$error" ng-if="form.descripcion.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <!--div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.estado.$touched && form.estado.$invalid }">
                <label for="estado">Estado</label>
                <input type="text" name="estado" class="form-control" placeholder="Estado" ng-model="formData.estado" required>
                <div class="help-block" ng-messages="form.estado.$error" ng-if="form.estado.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div-->
        </div>
        
    </div>
</div>


<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left" >
        <br>
        <a class="button btn btn-danger" href="/privilegios">Cancelar</a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right" >
        <br>
        <!--button name="submit" class="btn btn-primary btn-sm" ng-click="createPrivilegio(formData.$valid)" ng-disabled="formData.$invalid">Guardar/Crear</button-->
        <button name="submit" class="btn btn-primary"  >Guardar</button>
    </div>
    
</div>

<br/>
        
</form>