<div class=" text-center" ng-init="get()">
	<h1>Nuevo {{controlNameSingular}}</h1>
    {{formData.$valid}}
    <div ng-if="messageShow" ng-class="messageClass" class="alert" role="alert">
        {{messageText}}
    </div>
</div>

<script type="text/ng-template" id="error-messages">
    <p ng-message="required">Este campo es obligatorio</p>
    <p ng-message="number">Este campo debe ser numérico</p>
    <p ng-message="min">Ingrese un número mayor</p>
    <p ng-message="max">Ingrese un número menor</p>
    
    <p ng-message="minlength">This field is too short</p>
    <p ng-message="maxlength">Your name is too long.</p>

    <p ng-message="email">Ingrese un Correo Electrónico válido</p>
</script>

<form name="form" ng-submit="createOrUpdate(form.$valid,_id)" novalidate>

<div class="panel panel-default">
    <div class="panel-heading">Datos</div>
    <div class="panel-body">
    
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.titulo.$touched && form.titulo.$invalid }">
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo" class="form-control" placeholder="Nombre" ng-model="formData.titulo" required>
                <div class="help-block" ng-messages="form.titulo.$error" ng-if="form.titulo.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.nombre.$touched && form.nombre.$invalid }">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre" ng-model="formData.nombre" required>
                <div class="help-block" ng-messages="form.nombre.$error" ng-if="form.nombre.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.apPaterno.$touched && form.apPaterno.$invalid }">
                <label for="apPaterno">Apellido Paterno</label>
                <input type="text" name="apPaterno" class="form-control" placeholder="Paterno" ng-model="formData.apPaterno" required>
                <div class="help-block" ng-messages="form.apPaterno.$error" ng-if="form.apPaterno.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.apMaterno.$touched && form.apMaterno.$invalid }">
                <label for="apMaterno">Apellido Materno</label>
                <input type="text" name="apMaterno" class="form-control" placeholder="Materno" ng-model="formData.apMaterno" required>
                <div class="help-block" ng-messages="form.apMaterno.$error" ng-if="form.apMaterno.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.usuario.$touched && form.usuario.$invalid }">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" class="form-control" placeholder="Nombre" ng-model="formData.usuario" required>
                <div class="help-block" ng-messages="form.usuario.$error" ng-if="form.usuario.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
                <label for="password">Password</label>
                <input type="text" name="password" class="form-control" placeholder="Paterno" ng-model="formData.password" required>
                <div class="help-block" ng-messages="form.password.$error" ng-if="form.password.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.siglas.$touched && form.siglas.$invalid }">
                <label for="siglas">Siglas</label>
                <input type="text" name="siglas" class="form-control" placeholder="Nombre" ng-model="formData.siglas" required>
                <div class="help-block" ng-messages="form.siglas.$error" ng-if="form.siglas.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            
            <!--div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.token.$touched && form.token.$invalid }">
                <label for="token">Token</label>
                <input type="text" name="token" class="form-control" placeholder="Materno" ng-model="formData.token" required>
                <div class="help-block" ng-messages="form.token.$error" ng-if="form.token.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div-->
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.telefono.$touched && form.telefono.$invalid }">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" class="form-control" placeholder="Telefono" ng-model="formData.telefono" required>
                <div class="help-block" ng-messages="form.telefono.$error" ng-if="form.telefono.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
                <label for="email">Correo Electrónico</label>
                <input type="email" name="email" class="form-control" placeholder="email" ng-model="formData.email" >
                <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
                        <div ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Administracion</div>
    <div class="panel-body">
    
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <select style="width:100%;" chosen
                        options="Roles"
                        placeholder-text-multiple="'Roles'"
                        data-ng-model="formData.rol"
                        data-ng-options="rol._id as rol.nombre for rol in Roles">
                        <option value=""></option>
                </select>
            </div>
            <div class="col-xs-12 col-md-6">
                <select style="width:100%;" chosen
                        options="Oficinas"
                        placeholder-text-multiple="'Oficinas'"
                        data-ng-model="formData.oficina"
                        data-ng-options="oficina._id as oficina.nombre for oficina in Oficinas">
                        <option value=""></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="estado">Estado</label>
                <div class="form-group">
                    <div class="radio-inline">
                        <label><input type="radio" name="estado" value="Activo" ng-model="formData.estado">Activo</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="estado" value="Inactivo" ng-model="formData.estado">Inactivo</label>
                    </div>
                </div>
            </div>
           <div class="col-xs-12 col-md-6" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }" ng-show="formData.fecha_alta">
                <label for="fecha_alta">Fecha de alta</label>
                <input type="text" readOnly="" name="fecha_alta" class="form-control" ng-model="formData.fecha_alta" >
            </div>
        </div>


    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left" >
        <br><a class="button btn btn-danger" href="/{{controllerInstance}}">Cancelar</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right" >
        <br><button name="submit" class="btn btn-primary"  >Guardar</button>
    </div>
</div>


<br/>
</form>